export(getEmergencies)
export(getFacebookData)
export(outdegree)
export(plot.crises)
export(plot.facebook)
import("ggplot2,")
import("magic,")
import("scales,")
import(RJSONIO)
import(lubridate)
import(magic)
import(plyr)
import(scales)
