export(domestic)
export(getDateRange)
export(getDisasterPeriod)
export(getDonors)
export(getEmergencies)
export(getEmergency)
export(getFacebookData)
export(indegree)
export(outdegree)
export(parseMonth)
export(plot.crises)
export(plot.facebook)
export(reset)
import(RJSONIO)
import(data.table)
import(devtools)
import(ggplot2)
import(lubridate)
import(magic)
import(plyr)
import(scales)
import(stringr)
